.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media (max-width: 768px) {
    display: none;
  }
  
  &__slides {
    display: flex;
    gap: 20px;
  }

  &__pagination {
    display: flex;
    gap: 3rem;
  }
}