$redish: #b9493f;
$redHover: #722f37;
$redPrime: #a51d1d;
$mainText: #141314;
$secondaryGrey: #67666b;
$hoverGrey: #F0F1F5;
$textColor: #eee;
$borderColor: #a9a9b0;
$navbarHeight: 80px;
$horizontalLimit: calc(((100vw - 1366px) / 2));
$navbarCollapse: 860px;
$animationSpeed: 0.3s;
